<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteer.mapper.InstitutionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.volunteer.entity.Institution">
        <id column="institution_id" property="institutionId" />
        <result column="institution_name" property="institutionName" />
        <result column="admin" property="admin" />
        <result column="admin _id" property="admin Id" />
        <result column="tellphone" property="tellphone" />
        <result column="proof" property="proof" />
        <result column="count" property="count" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        institution_id, institution_name, admin, admin _id, tellphone, proof, count
    </sql>

</mapper>
